/*CSS DEL CONTENIDO*/

.contenidoMiLista {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 150px;
}

.item {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 25rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  color: #ccc;
  position: relative; /* Agregamos posición relativa para posicionar los pseudo-elementos */
}

.vista::before {
  content: '\2705'; /* Código unicode para el símbolo check */
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.pendiente::before {
  content: '\231B'; /* Código unicode para el símbolo de reloj */
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.vista {
  text-transform: uppercase;
  background-color: rgb(132, 219, 97);
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  max-height: 50px;
}

.pendiente {
  text-transform: uppercase;
  background-color: #9B9B9B;
  width: 100%;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  max-height: 50px;
}

.sinopsis {
  width: 100%;
  word-wrap: break-word;
}

.sinopsis-no {
  visibility: collapse;
}

h2 {
  color: white !important;
}

.valoracion {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}


/* CSS DEL FORMULARIO*/
.formulario {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #fff;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-height: 50px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  