.contenidoMiLista {
    border: 1px solid #ccc;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
  }

.item{
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 25rem;
    display:flex;
    gap :10px;
    flex-wrap: wrap;
}
.vista{
    text-transform: uppercase;
    background-color: bisque;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    color: red
}

.pendiente{
    text-transform: uppercase;
    background-color:greenyellow;
    width: 100%;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 10px;
    color: blueviolet;
}

.sinopsis{
    width: 100%;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.sinopsis-no{
    visibility: collapse;
    ;
}
h2{
    color: white !important;
}