.footer {
  /*position: fixed;*/
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color: #000;
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}
.logomenu{
  width: 150px;
}