.imagenIndex {
  position: relative;
  width: 100%;
  height: 12rem;
  overflow: hidden;
  margin: 0;
  z-index: 0;
}

.imagenIndex img {
  width: 100%;
}

/*Titulo*/
.tituloPagina {
  position: absolute;
  top: 40%;
  left: 30%;
  color: #fff;
  font-size: 60px;
  font-weight: bolder;
}

.imagenIndex img {
  width: 100%;
}
.carrusel{
  text-align: left !important;
  right: 40% !important;
  left: 10% !important
}