  .contenidoPeliculas {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
  }

  .card-footer{
    background-color:#fff !important;
  }

  .card{
    padding: 2px;
    width: 23% !important;
  }